* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

}
body {
    color:black;

}
#HomeHeader {
    width: 100%;
    display: flex;
    height: fit-content;
    align-items: center;
    justify-content: center;

}
.headerInnerContainer {
    width: 80%;
    display: flex;
    margin-top: 90px;
    justify-content: space-evenly;

}


.logo{
    width: 20%;
    display: flex;
    align-items: center;

}
.logo img {
    width: 50px;
    border-radius: 100px;

}
.logo strong {
    font-size: 1.20em;
    padding-left: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}


.links {
    width: 80%;
    display: flex;
    align-items: center;

}
.links ul {
    width: 100%;
    display: flex;
    list-style: none;
    font-size: 1.10em;
    align-items: center;
    justify-content: space-evenly;

}
.links ul li a {
    display: flex;
    color: black;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.links ul li a svg {
    width: 24px;

}
.links ul li a strong {
    margin-left: 10px;

}

.links ul li {
    display: flex;
    color: black;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.links ul li svg {
    width: 24px;
    cursor: pointer;

}
.links ul li  strong {
    margin-left: 10px;

}

#PhoneUilinks {
    display: none;
}
@media (max-width: 943px) {
    .links {
        display: none;
        
    }
    #PhoneUilinks {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: end;
    }
    .menu  {
        display: flex;
        align-items: center;
        width: fit-content;
    }
    .menu strong {
        font-size: 1.30em;
        padding-right: 10px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .menu svg {
        width: 25px;
        cursor: pointer;
    }
    .logo strong {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
}
#cartbar {
    top: 0;
    right: 0;
    width: 28%;
    height: 100%;
    z-index: 3;
    display: none;
    position: fixed;
    animation-name: cartbar;
    animation-duration: 0.50s;
    animation-iteration-count: calc(1);
    background-color: rgb(213, 213, 213);
}
.headercart {
    width: 100%;
    display: flex;
    height: 100px;
    color: white;
    align-items: center;
    background-color: black;
    animation-name: smoothaftersee;
    animation-duration: 2s;
    animation-iteration-count: calc(1);
    justify-content: space-evenly;
}
.closecart {
    width: 10%;
    padding: 20px;
    font-size: 2em;
}
.closecart strong {
    cursor: pointer;

}
.nameTitle {
    width: 90%;
    display: flex;
    justify-content: center;

}
.nameTitle strong {
    font-size: 1.50em;
    margin-right: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
@keyframes cartbar {
    0% {
        width: 0;
    }
    100% {
        width: 28%;
    }
}
@keyframes smoothaftersee {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
#homepage {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
    height: fit-content;
    
}
.innercontainerhomepage {
    width: 100%;
    height: fit-content;

}
.innercontainerhomepage img {
    margin: 5px;
    width: 340px;
    height: 340px;
    cursor: pointer;
    transition-duration: 0.50s;

}
.innercontainerhomepage img:hover {
    transition-duration: 0.50s;
    border-radius: 5%;
}
.rowhome  {
    width: 100%;
    height: 400px;
    overflow-y: scroll;
    display: flex;
    justify-content: center;

}

#Newcoursecontainer {
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: green; */
}
.headingforcoursenamecontainer {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;

}
.elelmentsin {
    width: 80%;

    font-family: Arial, Helvetica, sans-serif;
}
.elelmentsin strong {
    margin: 20px;
    font-size: 1.20em;

}
.ah1 {
    font-size: 50px;
    font-weight: 100;
    margin: 20px;
    font-family: sans-serif;
}
.bh1 {
    font-weight: 100;
    margin: 20px;
    font-weight: bold;
    font-family: sans-serif;
}
#inrollnow {
    border: none;
    width: 200px;
    height: 40px;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 20px;
    background-color: black;

}

.imageforcourserheadingrealeted {
    width: 50%;
    height: fit-content;

}
.imagein {
    width: 100%;
    height: 500px;
    transition-duration: 0.50s;
    filter: blur(1px);
    border-radius: 8px;
    background-image: url(download-16.webp);
}
.imagein:hover {
    transition-duration: 0.50s;
    filter: blur(0);
  

}
@media (max-width: 1064px) {
    #Newcoursecontainer {
       flex-direction: column;
       justify-content: start;
       height: fit-content;

    }
    .headingforcoursenamecontainer {
        width: 100%;
        margin: 30px;

    }
    .elelmentsin strong {
    
        margin-left: 0;
    
    }
    .ah1, .bh1, #inrollnow {
        margin-left: 0;
    }

    .imageforcourserheadingrealeted {
        width: 90%;

    }
}


#achievementsContiner {
    width: 100%;
    margin-top: 100px;
    height: fit-content;

}
.headingtilteachievement {
    width: 100%;
    text-align: center;

}
.headingtilteachievement strong {
    font-size: 2.10em;
    font-family: sans-serif;
}
.containerelelementshow {
    width: 100%;
    display: flex;
    margin-top: 60px;
    align-items: center;
    height: fit-content;
    justify-content: center;

}
.PC_DI_CG {
    width: 150vh;
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    height: fit-content;
    justify-content: space-evenly;
}
.projectsCompleted {
    width: 250px;
    height: 260px;
    margin-top: 15px;
    border-radius: 4px;
    border: 2px solid black;
}
.digitalProducts {
    width: 250px;
    height: 260px;
    margin-top: 15px;
    border-radius: 4px;
    border: 2px solid black;

}
.CostomersGlobally {
    width: 250px;
    height: 260px;
    margin-top: 15px;
    border-radius: 4px;
    border: 2px solid black;

}
.projectsCompleted p{
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    padding-top: 30px;
}
.digitalProducts p{
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    padding-top: 30px;
}
.CostomersGlobally p{
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    padding-top: 30px;
}
.ah2 {
    font-size: 1.20em;
    margin-top: 10px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#productsConatiner {
    width: 100%;
    margin-top: 100px;
    height: fit-content;
}
.headingproducts {
    width: 100%;
    text-align: center;
    font-size: 2.10em;
    font-family: sans-serif;
}
.productshowingpage {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    align-items: center;
    justify-content: space-evenly;

}
.productOne {
    width: 400px;
    height: 380px;
    display: flex;
    margin-top: 25px;
    flex-direction: column;
    background-color: white;
}
.productImage {
    width: 100%;
    height: 400px;
    border-radius: 15px;
    transition-duration: 0.20s;
    background-image: url()https://images.unsplash.com/photo-1706650622188-ee1a623788cb?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDh8RnpvM3p1T0hONnd8fGVufDB8fHx8fA%3D%3D;
}
.productImage:hover {
    border-radius: 0px;
    background-position-y: calc(400px);

}
.downloadImage {
    width: 40px;
    height: 40px;
    display: flex;
    margin-top: 10px;
    margin-right: 20px;
    float: right;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    background-color: aliceblue;
  
}
.downloadImage strong {
    width: 25px;
    height: 25px;
}

.productNameTilele{
    width: 100%;
    height: 100px;

}
#HeadingNameForProduct {
    margin-top: 6%;
    margin-left: 2%;
    font-size: 1.20em;
    font-family: sans-serif;
}
#PriceForProduct {
    margin-top: 3%;
    margin-left: 2%;
    font-size: 1.20em;
    font-family: sans-serif;
}

#OfferProduct {
    text-decoration: line-through;
}
.productByButton {
    width: 100%;
    height: 180px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    border-top: 1px solid gray;
    justify-content: center;
}
.productByButton button {
    width: 100%;
    height: 40px;
    color: white;
    font-size: 1.10em;
    border: none;
    transition-duration: 0.25s;
    border-radius: 2px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}
.productByButton button:hover {
    background-color: rgb(53, 53, 53);
}
@media (max-width: 600px) {
    .productshowingpage {
        width: 90%;
        margin: 0 auto;
    }
    .productOne {
        margin-top: 20px;
        border-radius: 4px;
    }
}


#DesignerAbout {
    width: 100%;
    margin-top: 100px;
    height: fit-content;
    display: flex;
    height: fit-content;
}
.DesignerImageContainer {
    width: 50%;
    height: fit-content;
}
.desiginerImageAdd {
    width: 100%;
    height: 600px;
    background-size: cover;
    /* background-image: url(https://media.licdn.com/dms/image/D5603AQErZxrHW1RMjw/profile-displayphoto-shrink_800_800/0/1680706019041?e=2147483647&v=beta&t=xBTJ0VYMAew5aKZ7vq0XgKGvMhSkVQjjXey5Co__ros); */
    background-image: url(aditya.jpeg);
}

.someTextForDesignerContainer {
    width: 50%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.desiginerAbouttext {
    width: 100%;
    
}
.desiginerAbouttext h1 {
    font-size: 2.20em;
    margin-left: 10%;
    font-weight: lighter;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.desiginerAbouttext strong {
    margin-left: 10%;
    font-size: 1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.desiginerAbouttext p {
    font-size: 1em;
    line-height: 30px;
    margin-left: 10%;
    color: rgb(58, 58, 58);
    font-family: sans-serif;
}
.followerShow {
    width: 100%;
    display: flex;
    height: fit-content;
    justify-content: space-evenly;
}


.rowInstragramYoutube {
    margin: 10px;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.ininsta {
    display: flex;
    margin: 15px;
    flex-direction: column;
}
.ininsta h2 {
    font-size: 2em;
}
.inyout {
    display: flex;
    margin: 15px;
    flex-direction: column;
}
.inyout h2 {
    font-size: 2em;
}
.rowUploadedViews {
    margin: 15px;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.inuploade {
    display: flex;
    margin: 15px;
    flex-direction: column;
}
.inuploade h2 {
    font-size: 2em;
}
.inviews {
    display: flex;
    margin: 15px;
    flex-direction: column;
}
.inviews h2 {
    font-size: 2em;
}
@media (max-width: 978px) {
    #DesignerAbout {
        display: block;
        align-items: center;
        justify-content: center;
    }
    .DesignerImageContainer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .desiginerImageAdd {
        width: 90%;
        background-position: center;
        border-radius: 10px;

    }
    .someTextForDesignerContainer {
        width: 100%;
    }
    .inuploade{
        margin-bottom: 12px; 
    }
    .ininsta{
        margin-bottom: 12px; 
    }

    .desiginerAbouttext {
        width: 90%;
        margin-top: 50px;
    }
    .desiginerAbouttext h1, strong, p {
        margin-left: 0;
    }
    .desiginerAbouttext strong {
        margin-left: 0;

    }
    .desiginerAbouttext p {
        margin-left: 0;
        

    }
}

#clientsIhAVEContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: fit-content;
    margin-bottom: 50px;
}
.headingclients {
    width: 100%;
    height: 100px;
    font-size: 1.50em;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.compny_LogosContainer {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.compny_LogosContainer ul {
    display: flex;
    list-style: none;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}
.compny_LogosContainer ul li img{
    margin: 20px;
}
#siginUpContainer{ 
    width: 100%;
    margin-bottom: 50px;
    margin-top: 100px;
    display: flex;

}
.someTextAboutSiginUp {
    display: flex;
    justify-content: center;
    align-self: safe;
    width: 40%;

}
.contentIn {
    width: 90%;
    
}
.contentIn  h1 {
    font-size: 2.40em;
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: lighter;
    margin-left: 30.40%;
    font-family: sans-serif;
}
.contentIn  p {
    text-align: center;
    padding-bottom: 10px;
    font-size: 1.20em;
    font-family: 'Courier New', Courier, monospace;
}
.contentIn  strong {
    text-align: center;
    margin-left: 30.40%;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.formConatiner {
    width: 60%;
    display: flex;
    justify-content: center;
}
.formConatiner form {
    width: 90%;
    text-align: center;

}
form input {
    width: 225px;
    height: 40px;
    font-size: 1em;
    border: none;
    margin-top: 9px;
    font-weight: lighter;
    padding-left: 5px;
    border-bottom: 1px solid black;
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }

 form input:hover {
    border: 1px solid black;
 }

#Message {
    width: 465px;
    margin-top: 10px;
    font-size: 1.10em;
    font-weight: lighter;
    padding-left: 5px;
    line-height: 30px;
    font-family: sans-serif;
    border: none;
    border-bottom: 1px solid black;

    
}
#Message:hover {
    border: 1px solid black;
}
#Submit {
    width: 471px;
    height: 50px;
    cursor: pointer;
    color: white;
    font-size: 1em;
    transition-duration: 0.30s;
    background-color: black;
}
#Submit:hover {
    background-color: #15222e;
}

@media (max-width: 1050px) {
    #siginUpContainer {
        flex-direction: column;
    }
    .someTextAboutSiginUp {
        width: 100%;
     

    }
    .contentIn {
        padding-bottom: 20px;
      
    }
    .contentIn h1 {
        margin-left: 0;
    }
    .contentIn p {
        /* margin-left: 0 */
        text-align: start;
    }
    .contentIn strong {
        margin-left: 0;
    }
    .formConatiner {
        width: 100%;

    }
    .formConatiner  form{
        width: 100%;

    }
    #Message {
        width: 90%;
        margin-left: 0;
    }
    #Subject{
        width: 20px;
    }
    .formConatiner form input {
        width: 90%;
    }
    #Submit {
        width: 92%;
    }
}


/* THIS IS BOTTOM LANDING PAGE STYLIG CSS */
#The_footer{
    width: 90%;
    height: 80px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 20px;
    min-height: fit-content;


    
}

.social-icons{
    display: flex;
    color: black;
    justify-content: space-evenly;
}

.social-icons a{
    margin: 5px;
    width: 40px;
    height: 40px;
    color: black;
    display: flex;
    border-radius: 100%;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    border: 1px solid black;
    transition-duration: 0.50s;

    
}
.social-icons a:hover{
    border-color: #f98167;


}
.father{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;


}
.link_follow{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    background-color: transparent;
    justify-content: space-evenly;
    border-top: 2px solid #374151;
    border-bottom: 2px solid #374151;


}
.link_follow ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;


}
@media (max-width:915px) {
    .link_follow  li{
        display: none;
    }
    .link_follow{
        width: 90%;
        justify-content: center;
    }


}
.link_follow  li{
    padding: 10px;
    border-left: 1px solid #374151;


}
.link_follow  a{
    color: black;
    font-size: 15px;
    text-decoration: none;
    text-transform: lowercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}
/* THE END BOTTOM LANDING PAGE STYLING CSS */


#sidebarcontainer {
    top: 0;
    right: 0;
    width: 70%;
    height: 100%;
    position: fixed;
    display: none;
    z-index: 4;
    animation-name: screenblur;
    animation-duration: 0.50s;
    animation-iteration-count: calc(1);
    background-color: #15222e;
}
.headingFoRSidebar {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    animation-duration: 4s;
    justify-content: center;
    animation-name: smoothaftersee;
    animation-iteration-count: calc(1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.257);

}

.closebuttonContainer {
    width: 20%;

}
.closebuttonContainer strong {
    font-size: 2em;
    color: white;
    cursor: pointer;
    padding-left: 20px;
}
.graphicsTextContainer {
    width: 80%;
    text-align: center;

}
.graphicsTextContainer  p {
    font-size: 2em;
    color: #72a24d;
    margin-right: 15%;
    font-weight: lighter;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.linksInSidebarContainer {
    width: 100%;
    height: 400px;
    display: flex;
    margin-top: 40px;
    animation-name: smoothaftersee;
    animation-duration: 3s;
    animation-iteration-count: calc(1);
    justify-content: center;

}
.linksInSidebarContainer ul {
    width: 90%;
    height: 500px;
    display: flex;
    align-items: center;
    list-style: none;
    flex-direction: column;
}
.linksInSidebarContainer ul li {
    width: 50%;
    padding: 10px;
    margin-top: 20px;
    border-radius: 3px;
    background-color: gainsboro;

}
.linksInSidebarContainer ul li a {
    font-size: 1.20em;
    color: #72a24d;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
}
.linksInSidebarContainer ul li   strong{
    font-size: 1.20em;
    color: #72a24d;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
}
.linksInSidebarContainer ul li svg{
    width: 25px;
    padding-left: 5px;

}
#blurallscreen{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    display: none;
    animation-name: smoothaftersee;
    animation-duration: 0.50s;
    animation-iteration-count: calc(1);
    background-color: rgba(213, 213, 213, 0.267);
}
@keyframes screenblur {
    0% {
        width: 0;
    }
    100% {
        width: 70%;
    }
}
